.logo-text {
    font-family: Georgia, serif;
    text-align: center;
    font-size: 30px;
    float: left;
} 

.logo-dot {
    position: relative;
    float: left;
    top: 15px;
    left: -2px;
    height: 15px;
    width: 15px;
    background-color: #d7af23;
    border-radius: 15px;
    animation: dotInvert linear 1.5s infinite;
}

@keyframes dotInvert {
    0%, 100% {
        filter: invert(0%);
    }
    50% {
        filter: invert(100%);
    }
}
