.rocker{
  -webkit-animation: rockingBetty linear 1.5s infinite;
          animation: rockingBetty linear 1.5s infinite;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

@-webkit-keyframes rockingBetty{
  0%, 100% {
    -webkit-transform:  rotate(-25deg) ;
            transform:  rotate(-25deg) ;
    -webkit-filter: invert(0%);
            filter: invert(0%);
  }
  50% {
    -webkit-transform:  rotate(25deg) ;
            transform:  rotate(25deg) ;
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
}

@keyframes rockingBetty{
  0%, 100% {
    -webkit-transform:  rotate(-25deg) ;
            transform:  rotate(-25deg) ;
    -webkit-filter: invert(0%);
            filter: invert(0%);
  }
  50% {
    -webkit-transform:  rotate(25deg) ;
            transform:  rotate(25deg) ;
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
}