.rocker{
  animation: rockingBetty linear 1.5s infinite;
  transform-origin: 50% 50%;
}

@keyframes rockingBetty{
  0%, 100% {
    transform: rotate(-25deg);
    filter: invert(0%);
  }
  50% {
    transform: rotate(25deg);
    filter: invert(100%);
  }
}
