---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Shredify me.">
    <meta name="author" content="Corban Mailloux">
    
    <!-- Icon -->
    <link rel="icon" href="/favicon.ico" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon">
    
    <!-- CSSes -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    
    <link rel="stylesheet" href="/css/main.css">

    <title>Shredify.Me</title>
  </head>
  <body>
    <ul>
      {% for celeb in site.celebs %}
      <li>
        <a href="{{ celeb.url }}">
          <img src="{{ celeb.image }}" alt="#{{ celeb.hashtag }}"/>
          <p>#{{ celeb.hashtag }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>

    {% include GoogleAnalytics.html %}
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
