<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Shredding your favorites.">
    <meta name="author" content="Corban Mailloux">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/icons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/icons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/icons/manifest.json">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Shredify.me">
    <meta name="application-name" content="Shredify.me">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/icons/mstile-144x144.png">
    <meta name="msapplication-config" content="/icons/browserconfig.xml">
    <meta name="theme-color" content="#000000">

    <!-- CSSes -->
    <link rel="stylesheet" href="/css/bootstrap-slate.min.css">
    <link rel="stylesheet" href="/css/app.fixed.css">

    <title>{{ page.title}}</title>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <!-- Create the "three-bar" expand button for lower resolutions. -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" title="Home">
            <div id="logo">
              <div class="logo-text">Shredify</div>
              <div class="logo-dot"></div>
              <div class="logo-text">me</div>
            </div>
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Shreds <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                {% assign celebs = site.celebs | sort: "title" %}
                {% for celeb in celebs %}{% unless celeb.audio == "shred" %} {% comment %} Temporary. Allows splitting custom audio. {% endcomment %}
                  <li>
                    <a href="{{ celeb.url }}">♪ {{ celeb.title }} ♪</a>
                  </li>
                {% endunless %}{% endfor %}
                <li class="divider"></li>
                {% for celeb in celebs %}{% if celeb.audio == "shred" %} {% comment %} Temporary. Allows splitting custom audio. {% endcomment %}
                  <li>
                    <a href="{{ celeb.url }}">{{ celeb.title }}</a>
                  </li>
                {% endif %}{% endfor %}
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
