{% include head.html %}
      <div class="row">
        <div class="col-xs-12">
          <img src="/images/{{ page.image }}" alt="Awkward. There's supposed to be an image here." 
            class="rocker center-block img-circle img-responsive"/>
          <h1 class="text-center">{{ page.title }}</h1>
          <audio controls autoplay loop class="center-block" id="shredAudio">
            <source src="/audio/{{ page.audio }}.ogg" type="audio/ogg">
            <source src="/audio/{{ page.audio }}.mp3" type="audio/mpeg">
            Your browser won't play audio, so just sing and air guitar.
          </audio>
          {{ content }}
        </div>
      </div>
{% include foot.html %}
