<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Shredify me.">
    <meta name="author" content="Corban Mailloux">
    
    <!-- Icon -->
    <link rel="icon" href="/favicon.ico" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon">
    
    <!-- CSSes -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/rocker.css">

    <title>#{{ page.hashtag }}</title>
  </head>
  <body>

    <div class="center rocker" style="background: url({{ page.image }}) no-repeat;"></div>
    <h1>#{{ page.hashtag }}</h1>
    <audio controls loop id="audioPlayer">
      <source src="/audio/shred.ogg" type="audio/ogg">
      <source src="/audio/shred.mp3" type="audio/mpeg">
      Your browser won't play audio, so just sing and air guitar.
    </audio>

    {% include GoogleAnalytics.html %}
  </body>
</html>
