{% include head.html %}
      <div class="row">
        <div class="col-xs-12">
          <img src="{{ page.image }}" alt="Awkward. There's supposed to be an image here." 
            class="rocker center-block img-circle img-responsive"/>
          <h1 class="text-center">#{{ page.hashtag }}</h1>
          <audio controls autoplay loop class="center-block">
            <source src="/audio/shred.ogg" type="audio/ogg">
            <source src="/audio/shred.mp3" type="audio/mpeg">
            Your browser won't play audio, so just sing and air guitar.
          </audio>
        </div>
      </div>
{% include foot.html %}
